.css-dwwc7m {
  background-color: #848484 !important;
}
.css-dwwc7m[data-checked] {
  background-color: #a747ed !important;
}
.css-7roig {
  border: 1px solid #00000025;
  box-shadow: 1px 0 0 #00000025 !important;
}
